body {
  overflow-x: hidden;
}

/* Top Navigation Bar */
#topnav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 20px;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 650px;
  background-color: navy;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}
#topnav a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: navy;
  height: 50px;
  color: white;
  border: 0px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
#topnav a:hover {
  background-color: rgb(62, 89, 243);
}
#logoimg {
  height: 70px;
  margin-top: 5px;
  margin-left: -20px;
  margin-right: -10px;
}
#topnav h1 {
  color: white;
}
#topnav #title {
  display: flex;
}
#topnav #ikon {
  height: 45px;
}
#topnav #ikon2 {
  height: 30px;
}

/* Page Top Images and Text */
#backgroundimg {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  overflow: hidden;

  margin-top: 50px;
}
#homepageimg {
  width: 110%;
  object-fit: cover;
  height: 100%;
}
#pagebuffer {
  height: 45px;
}

#backgroundimg #name {
  color: red;
  text-shadow: 3px 3px 2px black;
  display: flex;
  text-align: center;
  font-size: 300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  text-align: center;
}
#search::placeholder {
  color: rgba(255, 255, 255, 0.703);
  font-size: 80%;
}


/* Slideshow first page */
#slides {
  border-radius: 3px;
}
#slides-container {
  height: 450px;
  overflow: hidden;
}
#slides-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}


/* Body of each page */
#paragraph1 {
  box-sizing: border-box;
  width: 96%;
  min-width: 600px;
  background-color: lightgrey;
  margin-top: -22px;
  padding: 20px;
  margin: 2% auto;
  color: black;
  border-radius: 8px;
  max-width: 1000px;
  justify-content: center;
}
#paragraph1 h1 {
  text-align: center;
  margin-top: 0px;
  color: #0077b6;
  text-shadow: 2px 2px 3px white;
  animation: title-animation 5s ease-in-out infinite;;
}
@keyframes title-animation {
  0% {
    color: #0077b6; 
  }
  50% {
    color: navy; 
  }
  100% {
    color: #0077b6; 
  }
}
#paragraph1 h4 {
  font-size: 1.5em;
}
#paragraph1 p {
  font-size: 1.2em;
}
#paragraph1 img {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}
#paragraph1 form div {
  margin: 20px;
}
#paragraph1 fieldset {
  border-radius: 3px;
  border: 2px solid gray;
}
/* Bottom section of the page */
#bottom {
  box-sizing: border-box;
  width: 96%;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  min-width: 600px;
  max-width: 1000px;
  text-align: center;
  background-color: lightgrey;
  margin: 0 auto 20px;
  border-radius: 8px;
}
#bottom #contact {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
#bottom #links {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
#bottom li {
  list-style-type: none;
}
#bottom h3 {
  margin-right: -30px;
}
#bottom a {
  text-decoration: none;
  color: black;
}
#bottom a:hover {
  color: blue;
}
